ul {
  list-style: none;
  display: flex;
}
ul li a {
  text-decoration: none;
  word-spacing: 50px;
justify-content: space-between;
}
.nav-item {
  padding: 0px ;
}
#header {
  display: flex;
}
.card-body::before {
  transition: 2s;
  transform: scale(1.5);
}
.card:hover {
  transition: 1s;
  transform: scale(1.2);
}

.checked {
  color: orange;
}
.card-chef {
  border-radius: 15px;
}
.footer-text {
  font-size: 14px;
  color: aliceblue;
}

ul li a:hover {
  border-bottom: 2px solid #dc9118;
  transition: 1s;
  transform: scale(1.1);
  color: #dc9118;
}

.book-table:hover {
  background: #dc9118;
  border-color: #dc9118;
  transition: 1s;
  transform: scale(1.1);
}
